* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

li {
    list-style-type: none;
    padding: 20px;
}

li a{
    text-decoration: none;
    color: cadetblue;
    font-size: 30px;
}